.caja-contenedora{
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        "caja1 caja1 caja1 caja1"
        "caja2 caja2 caja2 caja2"
    ;
}

.caja-1{
    grid-area: caja1;
    margin: 5.2rem 1rem;
    margin-bottom: 0;
    height: 68%;
}

.card{
    width: 96%;
    border: none;
}
 
.caja-media, .caja-ubicacion {
    display: flex;
    justify-content: center;
    height: 34rem;
    margin-bottom: 1.4rem;
}

.title{
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
    padding-top: .2rem;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	-moz-background-clip: text;
	-webkit-background-clip: text;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto-uno, .texto-dos{
    font-size: small;
    font-weight: 500;
    text-align: justify;
}

.b-facebook{
    background: #1877f2;
    color: white;
}

.b-instagram{
    background: #E1306C;
    color: white;
}

.b-twitter{
    background: #00acee;
    color: white;
}

.texto-dos{
    width: 35%;
}

.tab-content{
    width: 25%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--VerdeOscuro);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--VerdeMedio);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--VerdeOscuro);
}

.dos{
    width: 50%;
}

.dos:active{
    transform: scale(.98);
}

.dos{
    border: 1px solid var(--VerdeOscuro);
}

.dos:hover{
    background-color: var(--VerdeMedio);
    border: 1px solid var(--VerdeMedio);
    box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
}

.custom-shape-divider-top-1674080847 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674080847 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 263px;
}

.custom-shape-divider-top-1674080847 .shape-fill {
    fill: #AED36C;
}

.custom-shape-divider-bottom-1674084601 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674084601 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 204px;
}

.custom-shape-divider-bottom-1674084601 .shape-fill {
    fill: #AED36C;
}

.contactos-ubicacion{
    text-align: justify;
    font-weight: 500;
}

.caja-2{
    grid-area: caja2;
    width: 100%;
}