<app-menu></app-menu>

<div class="container-fluid caja-contenedora">
    
    <div class="caja caja-1">
        <div *ngIf="bandera === 'quienes-somos'" class="caja-media w-100 h-100 overflow-hidden">
            <div class="card bg-dark text-white">
                <img src="../../../assets/img/Otros/fondo-quienes.jpg" class="card-img-top" alt="Stony Beach"/>
                <div class="card-img-overlay">
                  <h1 class="card-title title">Fundación Refugio Pana</h1>
                  <p class="card-text texto-uno w-50">
                    Nace del corazón de su presidenta y fundadora Katiuska Delgado, una mujer que desde su infancia dedicó sus esfuerzos y bienes económicos a la ayuda de animales en situaciones de calle, cuando apenas tenía 4 años rescató a su primer perro, a quien encontró en un callejón lleno de sarna y con fiebre, gracias a la ayuda de su padre llevo al indefenso animal a su hogar donde le dio atención y cuidados.
                  </p>
                  <p class="card-text texto-dos">
                    Somos un refugio Auto financiado que ayuda a los animales maltratados y que se encuentran en estado de abandono, nuestra función dentro de la sociedad es recatar a los animales que están en situación de calle, brindarle asistencia veterinaria y luego de su recuperación encontrarles un lugar responsable.
                  </p>
                </div>
              </div>
        </div>
    </div>
    
    <div class="caja caja-2">
        <app-footer></app-footer>
    </div>
    
</div>