<mat-card class="mb-2 h-100 w-100 shadow">

  <mat-card-header>
    <img mat-card-avatar src="../../../../../assets/img/Perros/{{data.imagen}}" class="shadow-sm">
    <mat-card-title>{{data.nombre}}</mat-card-title>
    <mat-card-subtitle>{{data.raza}} de {{edad}} años</mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <p class="primer">{{data.nombre}} fue encontrado en {{data.fechaIng}} y su estado para adopción está <strong>{{data.estado}}</strong>.</p>
    <p>{{data.observacion}}</p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
      <button class="btn btn-outline-success" type="submit" (click)="closeAnimal()">
          <mat-icon class="btnAdd">arrow_back</mat-icon>
      </button>
  </mat-card-actions>

</mat-card>
