.caja-contenedora{
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        "caja1 caja1 caja1 caja1"
        "caja2 caja2 caja2 caja2"
    ;
    background: url("../../../../assets/img/Adopta/fondo-adopta-page.svg") no-repeat center;
    background-size: cover;
}

.caja-1{
    grid-area: caja1;
    margin: 5.2rem 1rem;
    margin-bottom: 0;
    height: 34.3rem;
}

.caja-2{
    grid-area: caja2;
    margin-top: 1rem;
    width: 100%;
}

.btn-group{
    width: 100%;
    height: 10%;
}

.animals-container {
    height: 34rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
 
.animals-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: none;
}

.animals-container::-webkit-scrollbar-thumb {
    background-color: var(--VerdeClaro);
}

.imagen{
    height: 50%;
    max-height: 10rem;
    overflow: hidden;
    background: #fff;
}

img {
    object-fit: cover;
    border-radius: 8px;
    transition: all 1s;
    width: 100%;
}

img:hover{
    transform: scale(1.1);
}

.card-title{
    font-weight: 500;
    font-size: x-large;
}

.card-text{
    font-size: small;
    
}

.card-footer{
    background: #fff;
}

.btn{
    width: 100%;
}

.btn:active{
    transform: scale(.98);
}

.btn-outline-success{
    border: 1px solid var(--VerdeClaro);
}

.btn-outline-success:hover{
    background-color: var(--VerdeMedio);
    border: 1px solid var(--VerdeMedio);
    box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
}
