<div id="reporte" class="container-fluid h-100">
    <div class="row w-100 text-center">
        <div class="col">
            <h1 class="borde">¡Ellos no tienen voz!</h1>
            <p class="borde">Reporta la situación de los animales, no mires a otro lado.</p>
            <br>
            <span class="borde">Reporta el maltrato de animales.</span>
            <br>
            <a (click)="openDialog()">
                <span class="badge">Reporte aquí</span>
            </a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
