.container-fluid{
    height: 82%;
}

.title{
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
    padding-top: .2rem;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	-moz-background-clip: text;
	-webkit-background-clip: text;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}