::ng-deep .mat-dialog-container{
    padding: 1rem;
}

.title{
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
    padding-top: .2rem;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	-moz-background-clip: text;
	-webkit-background-clip: text;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-text{
    font-size: larger;
    line-height: 1.2rem;
}

strong{
    font-weight: 500;
}

.btn{
    width: 60%;
}

.btn:active{
    transform: scale(.98);
}

.btn-outline-success{
    border: 1px solid var(--VerdeOscuro);
}

.btn-outline-success:hover{
    background-color: var(--VerdeMedio);
    border: 1px solid var(--VerdeMedio);
    box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
}

.btn-outline-danger:hover{
    box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 4px 21px -6px rgba(0,0,0,0.55);
}